nav {
    height: 100px;
    background-color: #3f210e;
    padding: 10px;
    margin: 50px 20px auto 20px;
    border-radius: 20px;
    
}

body {
    background-color: #365b71;
}

/* .container { */
    /* max-width: 1400px; */
    /* height: 37vh; */
    /* background-color: #365b71; */
    /* margin: 10px auto; */
/* }  */

nav img {
    width: 200px;
    margin: -20px auto auto 20px;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #365b71; */
    background-image: 
        linear-gradient(#3f210e, transparent), url(../images/ground-up-coffee-shop-2600x1300.jpg);
    background-size: cover;
    height: 600px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    margin: -150px 20px auto 20px ;       

}

h1 {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    text-align: center;
  }

main {
    background-color: #fff;
    height: 150vh;
    margin-top: -30px;
    border-radius: 20px;
  }

.parent-container {
    background-color: gray;

}

.child-container {
    display: flex;
    /* flex-flow: column wrap; */
    justify-content: flex-start;
    /* border: dashed orange; */
    align-items: flex-end;
    margin: 10px 0 10px auto;
  
}

.child-container2 {
    display: flex;
    /* flex-flow: column-reverse wrap; */
    flex-direction: row-reverse;
    /* border: dashed orange; */
    align-items: flex-start;
    margin: 10px 0 10px auto;

  
}

.child-container3 {
    display: flex;
    justify-content: flex-start;
    /* border: dashed orange; */
    align-items: flex-end;
    margin: 10px 0 10px auto;
  
}

.friendly {
    display: flex;
    align-self: flex-end;
    color: #6f320b;
    font-size: 3em;
    font-weight: bold;
    /* border: dashed green; */
    max-width: 100%;
    margin: 30px 0 10px 50px;

}

.comfortable {
    display: flex;
    align-self: flex-start;
    color: #6f320b;
    font-size: 3em;
    font-weight: bold;
    /* border: dashed green; */
    max-width: 100%;
    margin: 30px 0 10px 50px;
}

.freshly {
    display: flex;
    align-self: flex-end;
    color: #6f320b;
    font-size: 3em;
    font-weight: bold;
    /* border: dashed green; */
    max-width: 100%;
    margin: 30px 0 10px 50px;
}

.barista
{
    display: flex;
    color: #944f23;
    font-size: 2em;
    max-width: 100%;
    margin: 0px 100px 160px 50px;
    /* border: dashed blue; */
    
    
}
.atmosphere {
    display:flex;
    justify-content: center;
    color: #944f23;
    font-size: 23px;
    margin: 40px auto;
    align-items: center;
    padding: 0;
    /* border: dashed red; */
    margin-top: auto;
}
.roasted {
    display: flex;
    color: #944f23;
    font-size: 2em;
    max-width: 100%;
    margin: 0px 100px 160px 50px;
}

h2 {
    color: #6f320b;
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 25px;
    text-align: center;
}

h3 {
    color: #6f320b;
    font-size: 40px;
    margin-top: -10px;
    font-weight: bold;
    text-align: center;
}

.espresso {
    width: 100px;
    display: flex;
    align-items: center;
    margin: -30px auto;
  }

.hours {
    color: #944f23;
    font-size: 23px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  
}


.align-right {
    color: #6f320b;
    display: flex;
    justify-content: flex-end;
    margin: auto 30px;
}

.images {
    display: flex;
    align-self: flex-start;
    max-width: 30%;
    /* border: dashed salmon; */
    padding: 5px;
}

.imagine {
    display: flex;
    align-self: flex-end;
    max-width: 30%;
    /* border: dashed salmon; */
    margin: auto 0 auto 50px;
    padding: 5px;
}

/* target the 4d child that is also a section in main to revers img-text positions nth-child(3) means 3rd child of parent, which is mean which goes: div, sect, sect, sect so the 3rd child is the 2nd section 

main section:nth-child(3) {
    flex-direction: row-reverse;
}*/



