nav {
    height: 100px;
    background-color: #3f210e;
    padding: 10px;
    margin: 50px 20px auto 20px;
    border-radius: 20px;
    
}

body {
    background-color: #365b71;
}

/* .container { */
    /* max-width: 1400px; */
    /* height: 37vh; */
    /* background-color: #365b71; */
    /* margin: 10px auto; */
/* }  */

nav img {
    width: 200px;
    margin: -20px auto auto 20px;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #365b71; */
    background-image: 
        linear-gradient(#3f210e, transparent), url(../images/ground-up-coffee-shop-2600x1300.jpg);
    background-size: cover;
    height: 600px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    margin: -150px 20px auto 20px ;       

}

h1 {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    text-align: center;
  }

main {
    background-color: #fff;
    height: 150vh;
    margin-top: -30px;
    border-radius: 20px;
  }

.mydiv {
    margin: 0;
    display: flex;
}

h2 {
    color: #6f320b;
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 25px;
    text-align: center;
}

h3 {
    color: #6f320b;
    font-size: 40px;
    margin-top: -10px;
    font-weight: bold;
    text-align: center;
}

.espresso {
    width: 100px;
    display: flex;
    align-items: center;
    margin: -30px auto;
  }

p {
    color: #944f23;
    font-size: 23px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    
}

h4 {
    display: flex;
    color: #6f320b;
    font-size: 30px;
    /* margin-top: 0; */
    font-weight: bold;
    

    
}

h4 p:first-child {
    display: flex;
    flex-direction: column;


}
/* p {
    display: flex;
    justify-content: flex-end;
    color: #6f320b;
    font-size: 25px;
} */

.align-right {
    color: #6f320b;
    display: flex;
    justify-content: flex-end;
    margin: auto 30px;
}

.images {
    display: flex;
    justify-content: flex-start;
    max-width: 30%;
}

.imagine {
    display: flex;
    margin-left: auto;
    max-width: 30%;
}




